.content_form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 30px;
    width: 500px;
    margin: 0 auto;
    background: #3C3C3B;
}

.title{
    color: #f3b81d;
    font-size: 30px;
    margin-top: 50px;
}

.example-full-width {
    display: flex;
    flex-direction: column;
    width: 350px;
    margin: 0 auto;
}

.block_form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
    margin-top: 30px;
}

.form_button {
    display: flex;
    width: 250px;
    margin: 30px auto;
    height: 50px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    &:hover{
        background-color: #f3b81d;
        color: #3C3C3B;
    }
}