<div class="content_form">

    <h2 class="title">Create todo form</h2>

    <form class="block_form" [formGroup]="form" (ngSubmit)="submitFormTodo()">

        <mat-form-field class="example-full-width">
            <mat-label>Задание</mat-label>
            <input matInput placeholder="Enter your assignment" formControlName="userId" required>
            <div *ngIf="form.controls.userId.invalid && (form.controls.userId.dirty || form.controls.userId.touched)"
                class="alert">
                <div *ngIf="form.controls.userId.errors">Задание введено неправильно!</div>
            </div>
        </mat-form-field>

        <mat-form-field class="example-full-width">
            <mat-label>Id участника</mat-label>
            <input matInput placeholder="Enter the participant id" formControlName="id" required>
            <div *ngIf="form.controls.id.invalid && (form.controls.id.dirty || form.controls.id.touched)" class="alert">
                <div *ngIf="form.controls.id.errors">Id введено неправильно!</div>
            </div>
        </mat-form-field>

        <mat-form-field class="example-full-width">
            <mat-label>Задача</mat-label>
            <textarea matInput #message maxlength="256" placeholder="Enter your task" formControlName="title"
                required></textarea>
            <mat-hint align="end">{{message.value.length}} / 256</mat-hint>
            <div *ngIf="form.controls.title.invalid && (form.controls.title.dirty || form.controls.title.touched)"
                class="alert">
                <div *ngIf="form.controls.title.errors">Задача введено неправильно!</div>
            </div>
        </mat-form-field>

        <mat-form-field class="example-full-width">
            <mat-label>Задача решена</mat-label>
            <mat-select formControlName="completed">
                <mat-option value="Yes">Yes</mat-option>
                <mat-option value="No">No</mat-option>
            </mat-select>
            <div *ngIf="form.controls.completed.invalid && (form.controls.completed.dirty || form.controls.completed.touched)"
                class="alert">
                <div *ngIf="form.controls.completed.errors">Решение введено неправильно!</div>
            </div>
        </mat-form-field>

        <button mat-raised-button color="primary" disabled [disabled]="form.invalid" class="form_button">CREATE
            TASK</button>
    </form>
</div>