<div class="name_title">
    <app-create-user-form (createUser)="createUser($event)"></app-create-user-form>
    <!--  эмитим сюда данные (result) и с помощью метода createUser как-то их обрабатываем -->

</div>
<div class="content_users">
    <div *ngFor="let user of users$ | async" class="content_blocks">
        <app-user-card [user]="user" (deleteUser)="deleteUser($event)" (editUser)="editUser($event)">
        </app-user-card>

    </div>
</div>
<app-create-user-button (createUserBtn)="createUser($event)"></app-create-user-button>