.name_title {
    width: 1430px;
    margin: 0 auto;
    color: #3C3C3B;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
}

.content_users{
    display: flex;
    flex-wrap: wrap;
    width: 1450px;
    margin: 0 auto;
    margin-bottom: 50px;
    color: #3C3C3B;
}
