<h1 class="item-word">КАРТОЧКА</h1>

<!-- style="width: 200px; height: 200px; border: 1px solid black; margin: 5px; padding: 10px;" -->
<div class="block_users_card">

    <!-- <p>{{$any(i).name}}</p> лайфхак от Ильнура с $any()-->
    <div class="block_content">
        <p red>{{user.name | customUpperCase}}</p>
        <p red>{{user.email | customUpperCase}}</p>
        <p red>{{user.website | customUpperCase}}</p>
        <p red>{{user.company.name}}</p>
    </div>

    <button red (click)="openEditDialog()" class="btn"><mat-icon>mode_edit</mat-icon>Изменить юзера</button>
    <button red (click)="openDeleteDialog()" class="btn"><mat-icon>delete</mat-icon>Удалить юзера</button>
</div>