.item-word {
    width: 210px;
    color: #3C3C3B;
    font-family: 'Inter', sans-serif;
    margin: 0 auto;
    margin-top: 50px;
    text-align: center;
}

.container {
    margin-top: 25px;
    border: 1px solid #3C3C3B;
    border-radius: 15px;
    color: #3C3C3B;
    margin-bottom: 15px;
    font-family: 'Inter', sans-serif;
    flex-direction: column;
    &:hover{
        background-color: #3C3C3B;
        color: #f3b81d;
    }
}
.block_user_card {
    overflow-wrap: break-word;
    height: 170px;
    width: 225px;
    font-size: 15px;
    padding: 25px;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 45px;
    color: #f3b81d;
    border-radius: 30px;
    border: none;
    margin: 30px auto;
    &:hover {
        background: #f3b81d;
        color: #3C3C3B;
        border: 1px solid #f3b81d;
        cursor: pointer;
    }
}
