body {
    width: 100%; /* Занимает всю ширину экрана */
    margin: 0; /* Убирает любые отступы */
    padding: 0; /* Убирает внутренние отступы */
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
