.block_form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 450px;
    height: 100%;
    padding: 25px;
    background: #3C3C3B;
}

.title {
    color: #f3b81d;
}

.example-full-width {
    width: 350px;
}

.content_btn {
    display: flex;
    gap: 30px;
}

.btn {
    width: 150px;
    &:hover {
        background: #f3b81d;
        color: #3C3C3B;
    }
}