<form class="block_form" [formGroup]="form">

    <h1>Изменени юзера</h1>

    <!-- formControlName — это директива в Angular, которая используется для привязки
     элемента управления формы к объекту FormControlкоторый находится внутри объекта FormGroup -->
    <mat-form-field class="example-full-width">
        <mat-label>Name</mat-label>
        <input matInput type="text" placeholder="Enter your name:" formControlName="name"
            [errorStateMatcher]="matcher" />
        <mat-icon matSuffix>mode_edit</mat-icon>
        <mat-error
            *ngIf="form.controls['name'].hasError('minlength') && !form.controls['name'].hasError('required')">Слишком
            короткое!</mat-error>
        <mat-error *ngIf="form.controls['name'].hasError('required')">Поле имя пустое!</mat-error>
    </mat-form-field>

    <mat-form-field class="example-full-width">
        <mat-label>Email</mat-label>
        <input matInput type="email" placeholder="Enter your Email:" formControlName="email"
            [errorStateMatcher]="matcher" />
        <mat-icon matSuffix>mode_edit</mat-icon>
        <mat-error
            *ngIf="form.controls['email'].hasError('email') && !form.controls['email'].hasError('required')">Неправильный
            Email!</mat-error>
        <mat-error *ngIf="form.controls['email'].hasError('required')">Поле Email пустое!</mat-error>
    </mat-form-field>

    <mat-form-field class="example-full-width">
        <mat-label>Website</mat-label>
        <input matInput type="text" placeholder="Enter your Website:" formControlName="website" />
        <mat-icon matSuffix>mode_edit</mat-icon>
        <mat-error
            *ngIf="form.controls['website'].hasError('minlength') && !form.controls['website'].hasError('required')">Слишком
            короткий веб-сайт</mat-error>
        <mat-error *ngIf="form.controls['website'].hasError('required')">Поле веб-сайт пустое!</mat-error>
    </mat-form-field>

    <mat-form-field class="example-full-width" formGroupName="company">
        <mat-label>Company name</mat-label>
        <input matInput type="text" placeholder="Enter your Company:" formControlName="name" />
        <mat-icon matSuffix>mode_edit</mat-icon>
        <mat-error *ngIf="form.controls['name'].hasError('required')">Поле страна пустое!</mat-error>
    </mat-form-field>

    <!-- [mat-dialog-close] это атрибут который будет закрываться с определенными данными который принял при закрытий из метода userWithUpdatedFields
         но прежде [mat-dialog-close] импортировать в компоненте EditUserDialogComponent чтобы не было ошибок -->
    <button type="submit" class="form_button" mat-raised-button color="primary" [disabled]="form.invalid"
        [mat-dialog-close]="userWithUpdatedFields">
        <mat-icon>download_done</mat-icon>
        ИЗМЕНИТЬ ЮЗЕРА
    </button>
</form>